.custom-button {
    width: 240px;
    height: 64px;
    float: left;
    position: relative;
    white-space: nowrap;
  }
  
  .custom-button.light {
    color: #fff;
  }
  .custom-button.light:hover .circle .icon.arrow {
    background: #222;
  }
  .custom-button.light:hover .button-text {
    color: #222;
  }
  .custom-button.light .circle {
    width: 64px;
    height: 64px;
    display: block;
    position: relative;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    background: #fff;
    border-radius: 64px;
  }
  .custom-button.light .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #222;
  }
  .custom-button.light .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 18px;
    width: 18px;
    height: 2px;
    background: none;
  }
  .custom-button.light .circle .icon.arrow::before {
    content: '';
    position: absolute;
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #222;
    border-right: 0.125rem solid #222;
    transform: rotate(45deg);
  }
  .custom-button.light .button-text {
    color: #fff;
  }
  .custom-button .circle {
    width: 64px;
    height: 64px;
    display: block;
    position: relative;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    background: #222;
    border-radius: 64px;
  }


  .custom-button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  .custom-button .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 18px;
    width: 18px;
    height: 2px;
    background: none;
  }
  .custom-button .circle .icon.arrow::before {
    content: '';
    position: absolute;
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  .custom-button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 44px;
    color: #222;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    font-size: 15px;
  }
 
  .custom-button:hover {
    color: #fff;
  }
  .custom-button:hover .circle {
    width: 100%;
  }
  .custom-button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  .custom-button:hover .button-text {
    color: #fff;
  }